.logo {
    margin-top: 30px;
    font-family: "Oleo Script", serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-field-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
}
.input-field-checkbox input {
    display: none;
}
.input-field-checkbox label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.input-field-checkbox label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.6);
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
}
.input-field-checkbox input:checked + label::before {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.input-field-checkbox input:checked + label::after {
    content: '\2714';
    position: absolute;
    left: 5px;
    top: 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin-top: 10px;
}
.submit-login {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}
.change-side{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.link {
    cursor: pointer;
    font-size: 14px;
    background-color: inherit;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
.link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
.change-side {
    font-size: 14px;
}
.signup-window-1 {
    width: 100%;
    height: 200px;
    position: relative;
    overflow-y: hidden;
}
.signup-window-2 {
    width: 100%;
    height: 200px;
    position: relative;
    top: 0%;
    left: 0%;
}