.logo {
    margin-top: 30px;
    font-family: "Oleo Script", serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin-top: 10px;
}
.change-side{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.link {
    cursor: pointer;
    font-size: 14px;
    background-color: inherit;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
.link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
.change-side {
    font-size: 14px;
}
.display-window {
    height: 200px;
    width: 100%;
    overflow-y: scroll;
}