.input-field {
    padding-top: 5px;
    position: relative;
    margin-left: 15px;
}
.label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.left-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    margin-left: 10px;
    display: grid;
    place-items: center;
}
.right-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    place-items: center;
}
input[type="text"], input[type="password"] {
    font-size: 18px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 40px;
}
input[type="password"] {
    padding-left: 40px;
    padding-right: 40px;
}
input[type="text"]:hover, input[type="password"]:hover {
    outline: 2px solid rgba(255, 255, 255, 0.1);
}
input[type="text"]:focus, input[type="password"]:focus {
    outline: 2px solid rgba(255, 255, 255, 0.3);
}
input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.2);
}
.helper-text {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 15px;
    opacity: 100%;
    /* opacity: 0%; */
    color: rgba(255, 255, 255, 0.4);
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.5s ease;
}