:root {
    --toastify-color-success: #369936 !important;
}
.layout-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.layout-main {
    width: calc(100vw - 130px);
}
@media (orientation: portrait) {
    .layout-container {
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        align-items: center;
        justify-content: flex-end;
    }
    .layout-main {
        width: 100%;
    }
}